<div>
  <form onsubmit='return postProduct(this)'>
    <label for="title">Titulo:</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price"><br>
    <label for="thumbnail">Thumbnail:</label><br>
    <input type="text" id="thumbnail" name="thumbnail"><br>
    <input type="submit" value="Submit">
  </form>
</div>


<h2><a href="http://localhost:8080/api/productos">Postear productos</a></h2>